* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #2B3531;
}

a {
  text-decoration: none;
}

main {
  padding: 0 3rem;
  min-height: calc(100vh - 4.5rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

  main .left-side {
  padding-top: 150px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;

}



main .left-side .hero-logo {
  padding: -2rem 2rem 2rem 2rem;
}

main .left-side .hero-logo .hacktohgfdsgberfest-logo {
  height: auto;
  width: 40vw;
  top: -100px;

  
}


main .left-side .hero-text {
  color: #91A88C;
  padding: 0rem;
  text-align: justify;
  font-weight: bolder;
  /*font-style: oblique 15deg;*/
}

main .left-side .hero-text .link {
  color: #d1784b;
}
main .left-side .hero-text .link:hover {
  color: #bd6539;
}

main .right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .right-side .wrapper {
  padding: 4rem;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .right-side .wrapper .box {
  border-radius: 2px;
  color: #2B3531;
  background-color: #91A88C;
  margin: 2rem auto 0rem auto;
  padding: 1rem;
}

main .right-side .wrapper .box p {
  font-weight: 700;
  padding-left: 1rem;
  padding-bottom: 0.5rem;
}

main .right-side .wrapper .box .inner-box {
  font-size: 0.9rem;
  background-color: #2B3531;
  padding: 2rem;
  color: #fffbeb;
}

main .right-side .wrapper .box .inner-box .link {
  color: #B53A25;
  font-weight: bolder;
}

main .right-side .wrapper .box .inner-box .link:hover {
  color: #f74700;
  font-weight: bolder;
}

main .right-side .wrapper .what {
  margin-top: 0rem;
}

@media (max-width: 1100px) {
  main {
    padding: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .left-side {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: ;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}
  main .left-side .hero-logo {
    padding: 0 1rem 1rem 1rem;
  }
  main .left-side .hero-logo img {
    width: 90vw;
    height: auto;

  }
  

  main .left-side .hero-text {
    padding: 0.3rem;
  }
  main .right-side {
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
  }
  main .right-side .wrapper {
    width: 100%;
    padding: 0.2rem;
  }
  main .right-side .wrapper .box .inner-box a {
    color: #fc88de;
  }
}

@media (min-width: 1099px;) and (max-width:1300px;) {
  main .left-side {
  padding-top: 150px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  -webkit-box-pack: top;
      -ms-flex-pack: top;
          justify-content: top;

}
}

@media (min-width: 300px) and (max-width: 1099px) {

  main .left-side .hero-logo .hacktohgfdsgberfest-logo {
  height: auto;
  width: 80vw;
  top: -50px;
  
  
}

  main .left-side {
    padding-top: 10px;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: ;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}
main .right-side{
  padding-top: 2rem;
}
main .right-side .wrapper div{
  padding-top: 3rem;
}
}

footer {
  opacity: .6;
}

footer p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #93c2db;
  letter-spacing: 1px;
  padding-bottom: .7rem;
}

footer a {
  color: #fc88de;
}
footer p .hacktohgfdsgberfest-logo {
  height: auto;
  width: 40vw;
  
}
/*# sourceMappingURL=style.css.map */

